<div class="navbar-default navbar-fixed-top" style="left:450px; background: rgb(37, 42, 58);">
  <!-- Button trigger modal -->
    <% if !@case.closed %>
    <button class="btn btn-sm btn-primary navbar-btn pull-right" data-toggle="modal" data-target="#myModalPrio" style="margin:15px;">
      Edit case<%#= link_to "Edit Case", edit_category_case_path %>
    </button>
    <button class="btn btn-sm btn-primary navbar-btn pull-right" data-toggle="modal" data-target="#myModalNote" style="margin:15px;">
      Add note
    </button>
    <button class="btn btn-sm btn-primary navbar-btn pull-right" data-toggle="modal" data-target="#myModalEmail" style="margin:15px;">
      New email
    </button>
    <% end %>
    <% if @case.priority.nil? %>
      <p class="navbar-text lead pull-right"><font color="#999999">Priority:</font> None </p>
    <% else %>
      <p class="navbar-text lead pull-right"><font color="#999999">Priority:</font> <%= @case.priority.name %> </p>
    <% end %>
    <p class="navbar-text lead pull-right"><font color="#999999">Created at:</font> <%= @case.created_at.strftime("%F") %> </p>
    <% if @case.user.nil? %>
      <p class="navbar-text lead pull-right"><font color="#999999">Assigned to:</font> <font color="red">Not assigned</font></p>
    <% else %>
      <p class="navbar-text lead pull-right"><font color="#999999">Assigned to:</font> <%= @case.user.name %> </p>
    <% end %>
</div>

<br>
<div style="padding-top: 50px;">
  <% @communications.each do |c| %>
    <% if c.class == Email %>
        <%= react_component('CaseThreadMail', email: c) %>
    <% else %>
      <%= react_component('CaseThreadNote', note: c, user: c.user.name) %>
    <% end %>
  <%end%>
</div>

<% if !@case.closed %>
<!-- Email Modal -->
<div class="modal fade" id="myModalEmail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Email</h4>
      </div>
      <div class="modal-body">
        <%= render '/emails/form' %>
      </div>
      <!--<div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Send</button>
      </div>-->
    </div>
  </div>
</div>


<!-- Note Modal -->
<div class="modal fade" id="myModalNote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Note</h4>
      </div>
      <div class="modal-body">
        <%= render '/notes/form' %>
      </div>
      <!--<div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Add</button>
      </div>-->
    </div>
  </div>
</div>

<!-- Prio Modal -->
<div class="modal fade" id="myModalPrio" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit case</h4>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
      <!--<div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Set</button>
      </div>-->
    </div>
  </div>
</div>
<% end %>
