<div class="col-sm-5">
  <h1>Priorities</h1>
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Created at</th>
      <th></th>
      <th></th>
    </tr>
    <% @prios.each do |prio| %>
      <tr>
        <td><%= prio.id %></td>
        <td><%= prio.name %></td>
        <td><%= prio.created_at %></td>
        <td><%= link_to "edit", edit_priority_path(prio), class: "btn btn-xs btn-primary"%></td>
        <td><%= link_to "delete", priority_path(prio), :method => "delete", :confirm => "Are you sure?", class: "btn btn-xs btn-danger"%></td>
      </tr>
    <% end %>
  </table>

  <%= link_to "New priority", new_priority_path, class: "btn btn-primary" %>
</div>