<!DOCTYPE html>
<html>
<head>
  <title>Zmartcase</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%#= javascript_include_tag "path/to/highcharts.js", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <%= image_tag "bs_logo.png" %>
            </li>
            <li class="sidebar-brand">
                 <%= link_to "ZmartCase", root_path %>
                </br>
            </li>

            <%# ======================================= %>
            <%# ============= CATEGORIES ============== %>
            <%# ======================================= %>
            <% if current_user.has_role? :user %>
              <li>
                <%= link_to(new_email_path, class: "pure-menu-link") do %> New Email <%end%>
              </li>

              <li class="sidebar-label">
                <font color="6BB050">Categories</font>
              </li>
              <li>
                <% if @closed_cases.empty? %>
                  <a class="pure-menu-link"> Closed <span class="email-count"><font color="6BB050">(0)</font></span></a>
                <% else %>
                  <%= link_to show_closed_path(@closed_cases.first) do %>
                    Closed
                    <span class="email-count"> <font color="6BB050">(<%= @closed_cases.size %>)</font></span>
                  <% end %>
                <% end %>
              </li>
              <% @categories.each do |category| %>
                <li>
                  <% if category.cases.empty? %>
                    <a class="pure-menu-link"> <%= category.name %><span class="email-count"> <font color="6BB050">(0)</font></span></a>
                  <% else %>
                    <%= link_to(category_case_path(category.id,category.cases.where(closed: [nil,false]).first), class: "pure-menu-link") do %> <%= category.name %>
                    <span class="email-count"> <font color="6BB050">(<%= category.cases.size %>)</font></span>
                    <%end%>
                  <% end %>
                </li>
              <% end %>
            <% end %>

            <%# ===================================== %>
            <%# ============= SETTINGS ============== %>
            <%# ===================================== %>
            <% if current_user.has_role? :admin %>
              <li class="sidebar-label">
                <font color="6BB050">Settings</font>
              </li>
              <li>
                  <%= link_to "Categories", categories_path, class: "pure-menu-link"%>
              </li>
              <li>
                  <%= link_to "Priorities", priorities_path, class: "pure-menu-link"%>
              </li>
              <li>
                  <%= link_to "Users", users_path, class: "pure-menu-link"%>
              </li>
            <% end %>

            <li class="sidebar-brand sidebar-footer">
              <%= link_to "Log out", logout_path %>
            </li>
        </ul>
        <div>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
<% else %>
  <style>
  body{
    background-color: white;
    background-image: url("assets/Nature2.png");
    background-repeat: no-repeat;
    background-position:center 100px;
    background-size: 100%;
  }
  </style>
  <% if current_page?('/login') %>
    <%= render partial: "layouts/login" %>
  <% end %>
  <% if current_page?('/signup') %>
    <%= render partial: "users/signup" %>
  <% end %>
  <%#= link_to "Sign up", signup_path %>
  <%#= link_to "log in", login_path %>
<% end %>


</body>
</html>
