<!DOCTYPE html>
<html>
<head>
  <title>Zmartcase</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>

<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    ZmartCase
                </a>
            </li>
            <li>
              <%= link_to(root_path, class: "pure-menu-link") do %> Inbox <%end%> 
            </li>
            <li>
              <a href="#">
                  Sent
                </a>
            </li>
            <li>
              <%= link_to(new_email_path, class: "pure-menu-link") do %> Send new <%end%>  
            </li>
            <li class="sidebar-label">
              Categories
            </li>
            <% @categories.each do |category| %>
              <li>
                  <%= link_to(category_email_path(category.id,category.emails.first), class: "pure-menu-link") do %> <%= category.name %>
                  <span class="email-count">(<%= category.emails.count %>)</span>
                  <%end%>
              </li>
            <%end%>
            <li class="sidebar-label">
              Settings
            </li>
            <li>
                <%= link_to "Category", new_category_path, class: "pure-menu-link"%>
            </li>
            <li class="sidebar-brand sidebar-footer">

              <%= link_to "Log out", login_path %>

            </li>
        </ul>
        <div>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <%= yield %>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
<% else %>
  <style>
  body{
    background-color: white;
    background-image: url("assets/Nature2.png");
    background-repeat: no-repeat;
    background-position:center 100px;
    background-size: 100%;
  }
  </style>
  <% if current_page?('/login') %>
    <%= render partial: "layouts/login" %>
  <% end %>
  <% if current_page?('/signup') %>
    <%= render partial: "users/signup" %>
  <% end %>
  <%#= link_to "Sign up", signup_path %>
  <%#= link_to "log in", login_path %>
<% end %>


</body>
</html>
